.cardDesign {
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
  height: 255;
  object-fit: "cover";
  display: "block";
  overflow: "hidden";
  width: "100%";
}

.bottomText {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btnAlignPrevious {
  width: 30px;
  padding-top: 60px;
  padding-left: 10px;
}

.btnAlignNext {
  width: 30px;
  padding-top: 60px;
  padding-left: 300px;
}

.btnColor {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
